<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav me-auto">
      <a class="nav-item nav-link" routerLink="/login" >Home</a>
      <a class="nav-item nav-link" routerLink="/sign">Sign</a>
      <a class="nav-item nav-link" routerLink="/your-absence">Your Absence</a>
    </div>
    <div class="d-flex">
      <button class="btn btn-outline-danger" *ngIf="isLoggedIn"  (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


<router-outlet></router-outlet>

<footer>Published in 2024.</footer>
